<ion-header>
        <ion-toolbar>
            <ion-searchbar (input)="getItems($event)"></ion-searchbar>
        </ion-toolbar>
        <ion-segment [(ngModel)]="type">
          <ion-segment-button value="songs">
            Songs
          </ion-segment-button>
          <ion-segment-button value="albums">
            Albums
          </ion-segment-button>
          <ion-segment-button value="artists">
            Artists
          </ion-segment-button>
          <ion-segment-button value="playlists">
            Playlists
          </ion-segment-button>
      </ion-segment>
      </ion-header>
      
      <ion-content padding>
       
          <div [ngSwitch]="type" *ngIf="searchReady">
          <ion-list *ngSwitchCase="'songs'">
              <ion-item *ngFor="let song of searchResults.tracks.items" (click)="playSong(song)">
                  <ion-thumbnail item-start>
                    <img src="{{song.album.images[0].url}}">
                  </ion-thumbnail>
                  <h2>{{song.name}}</h2>
                  <p>{{parseArtist(song.artists)}}</p>
              </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'albums'">
            <ion-item *ngFor="let album of searchResults.albums.items">
                      <ion-thumbnail item-start>
                        <img src="{{album.images[0].url}}">
                      </ion-thumbnail>
                      <h2>{{album.name}}</h2>
                      <p>{{parseArtist(album.artists)}}</p>
            </ion-item>
          </ion-list>
          </div>
      </ion-content>
      